#about-me-content {
  display: flex;
}

#about-me-text {
  padding-right: 20px;
}

#about-me-photo img {
  width: 30vw;
}

#about-me {
  display: block;
  margin-bottom: -125px;
  padding-top: 75px;
  position: relative;
  top: -70px;
}