.about-me__content {
  display: flex;
  flex-direction: column-reverse;
  .about-me__photo img {
    max-width: 250px;
    width: 80vw;
  }
}

.about-me__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  span {
    display: flex;
    justify-content: space-evenly;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .about-me__content {
    flex-direction: row;
  }
  .about-me__footer {
    flex-direction: row;
  }
}