#about-me-content {
  display: flex;
  flex-direction: column-reverse;
}

#about-me-photo img {
  max-width: 250px;
  width: 80vw;
}

@media (min-width: 768px) {
  #about-me-content {
    flex-direction: row;
  }
}