.blog, .blog-full-post {
  background: darken(white, 10%);
  h1 {
    margin: 0;
    padding-top: 25px;
  }

  .blog-post-snippet, .blog-post {
    background: white;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 2rem 4rem;

    ul {
      background: lighten(grey, 25%);
      border-radius: 5px;
      margin: 0 auto;
      padding: 1rem 3rem;
      width: 90%;
    }

    .tag {
      background: grey;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      margin: 0 0.5rem;
      padding: 0.5rem 1rem;
    }
  }

  #blog-footer {
    font-size: 80%;
    text-align: center;
  }
}

.blog-full-post {
  header, footer {
    height: 2rem;
  }
}

pre {
  background: lighten(grey, 25%);
  margin: 0 2rem;
  overflow-x: auto;
  padding: 1rem;
  width: 90%;
}

.blog-page {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 100%;

  nav {
    background: white;
    border-radius: 5px;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    width: 80%;

    .nav-section {
      padding-bottom: 4rem;

      .nav-section-title {
        font-weight: bold;
      }
      .nav-section-post, .nav-section-tag, .nav-section-archive {
        cursor: pointer;
      }
    }
  }

  #blog-contact {
    margin-bottom: 0.5rem;
    img {
      height: 3rem;
      width: 3rem;
    }
  }

  #send-message {
      background: grey;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      padding: 1rem;
    }
}

