.blog {
  background: darken(white, 20%);
  min-height: 100vh;
  .blog-page {
    background: darken(white, 10%);
    height: 100%;
    padding-bottom: 1rem;
    .blog-page__contents {
      display: flex;
      flex-direction: row-reverse;
      margin: 0 auto;
      width: 100%;
      nav {
        border-radius: 5px;
        margin-left: 2rem;
        margin-top: 1rem;
        min-width: 210px;
        padding: 2rem 2rem;
        width: 80%;

        .nav-section {
          padding-bottom: 4rem;

          .nav-section__title {
            font-weight: bold;
          }
          .nav-section__post, .nav-section__tag, .nav-section__archive {
            cursor: pointer;
            :hover {
              color: grey;
              transition: 0.3s;
            }
          }
          .blog-contact {
            margin: 1rem auto;
            max-width: 17rem;
            .blog-contact__row {
              text-align: center;
              img {
                height: 29px;
                margin: 0 10px;
                width: 29px;
              }
            }
          }
        }
      }

      @media (max-width: 768px) {
        .mobile-nav-menu {
          background: darken(white, 5%);
          position: absolute;
        }
        
        .nav-menu {
          display: none;
        }
      }

      .blog-post-snippet {
        background: white;
        border-radius: 5px;
        margin: 1rem 2rem;
        padding: 2rem 4rem;
      }
    }
  }
}

/*

#send-message-container {
  width: 100%;
  #send-message {
    background: grey;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    max-width: 17rem;
    padding: 1rem;
    text-align: center;
  }
}

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.message-modal {
  background: lightgrey;
  border-radius: 5px;
  color: black;
  max-width: 50rem;
  outline: none;
  padding: 2rem;
  width: 80%;

#message-modal__title {
  margin: 0 0 1rem 0;
  text-align: center;
}

#message-name, #message-email, #message {
  text-align: center;
}

form {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 2rem 0;

  #message-modal__buttons {
    display: flex;
    justify-content: space-between;
    
    button {
      background: grey;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 1rem 2rem;
    }
  }

  input {
    max-width: 80%;
  }

  textarea {
      height: 20rem;
      width: 100%;
    }
}
*/