/*
.left-arrow, .right-arrow {
  cursor: pointer;
  font-size: 200%;
  margin: 0px 2px;
}

.project-section {
  background:  rgba(grey, 0.1);
  border: 2px solid darken($lavender, 10%);;
  border-radius: 5px;
  margin: 3px 0;
  h2 {
    background: lighten($lavender, 10%);
    border-bottom: 2px solid darken($lavender, 10%);;
    border-top: 2px solid darken($lavender, 10%);;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: -2px;
    margin-top: -2px;
    padding-left: 5px;
  }
}

.project {
  margin: 0 auto;
}

.project-carousel {
  align-items: center;
  display: flex;
  margin: 7px auto 0 auto;
  max-width: 650px;
}

.projects-open {
  height: auto;
}

.project-indicator {
  height: 0;
  visibility: hidden;
}

.project-tools {
  display: none;
}

.project-image {
  width: 100%;
}

.project-image img {
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
}

@media (min-width: 768px) {
  .left-arrow, .right-arrow {
    margin: 0 20px;
  }
}
*/